hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

h1 {
  font-size: 2.7em !important;
  font-weight: bold !important;
  color: black !important;
}

h2 {
  font-size: 2.5em !important;
  font-weight: bold !important;
  color: white !important;
  background-color: #29F !important;
  padding: 20px !important;
}

h3 {
  font-size: 2.2em !important;
  font-weight: bold !important;
  letter-spacing: 0;
  line-height: 3em;
  position: relative;
}
h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #29F;
}
h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 100%;
  background-color: #29F;
}

h4 {
  font-size: 1.8em !important;
  font-weight: bold !important;
}

h5 {
  font-size: 1.5em !important;
  font-weight: bold !important;
  text-transform: none !important;
  color: black !important;
}

h6 {
  font-size: 1.3em !important;
  font-weight: bold !important;
  text-transform: none !important;
  color: black !important;
}
