hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

h1 {
  font-size: 1.5em !important;
  font-weight: normal !important;
}

h2 {
  font-size: 1.4em !important;
  font-weight: normal !important;
}

h3 {
  font-size: 1.3em !important;
  font-weight: normal !important;
}
