hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
  font-weight: normal;
}
